DJANGO_SECRET_KEY=ganti-dengan-kunci-acak-yang-panjang
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=assyamil.ponpes.id,www.assyamil.ponpes.id,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://assyamil.ponpes.id,https://www.assyamil.ponpes.id
