{% extends "base.html" %}
{% load static %}
<!-- Contact Section -->

{% block content %}
<br><br><br>
  <section id="contact" class="contact section">
  
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->
  
      
      
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          
          <div class="row gx-lg-0 gy-4">
           
            <div class="col-lg-4">
              <div class="info-container d-flex flex-column align-items-center justify-content-center">
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-geo-alt flex-shrink-0"></i>
                  <div>
                    <h3>Address</h3>
                    <p>{{datamessage.alamat}}</p>
                  </div>
                </div><!-- End Info Item -->
    
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-telephone flex-shrink-0"></i>
                  <div>
                    <h3>Call Us</h3>
                    <p>{{datamessage.contact}}</p>
                  </div>
                </div><!-- End Info Item -->
    
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-envelope flex-shrink-0"></i>
                  <div>
                    <h3>Email Us</h3>
                    <p>{{datamessage.email}}</p>
                  </div>
                </div><!-- End Info Item -->
    
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                  <i class="bi bi-clock flex-shrink-0"></i>
                  <div>
                    <h3>Open Hours:</h3>
                    <p>{{datamessage.open_hours}}</p>
                  </div>
                </div><!-- End Info Item -->
                
              </div>
    
            </div>
    
            <!-- WebApp/templates/pages/contact.html -->
  <div class="col-lg-8">
    <form action="" method="post" class="php-email-form" data-aos="fade" data-aos-delay="100">
        {% csrf_token %}
        <div class="row gy-4">
  
            <div class="col-md-6">
                {{ form.name.label }}  <!-- Menampilkan label untuk field nama -->
                {{ form.name }}  <!-- Menampilkan field nama -->
            </div>
  
            <div class="col-md-6">
                {{ form.email.label }}  <!-- Menampilkan label untuk field email -->
                {{ form.email }}  <!-- Menampilkan field email -->
            </div>
  
            <div class="col-md-12">
                {{ form.subject.label }}  <!-- Menampilkan label untuk field subjek -->
                {{ form.subject }}  <!-- Menampilkan field subjek -->
            </div>
  
            <div class="col-md-12">
                {{ form.message.label }}  <!-- Menampilkan label untuk field pesan -->
                {{ form.message }}  <!-- Menampilkan field pesan -->
            </div>
  
            <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
  
                <button type="submit">Send Message</button>
            </div>
  
        </div>
    </form>
  </div><!-- End Contact Form -->
    
          </div>
    
        </div>
      
        
  
    </section><!-- /Contact Section -->
{% endblock content %}
  