{% load static %}
<section id="hero" class="hero section accent-background">
  {% for heros in heroes %}
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-5 justify-content-between">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h2><span>{{ heros.welcome_text }}</span><span class="accent"> {{ heros.title }}</span></h2>
        <p>{{ heros.description }}</p>
        <div class="d-flex">
          {% if heros.button_name %}
            <a href="#about" class="btn-get-started">{{ heros.button_name }}</a>
          {% endif %}
          {% if heros.video_url %}
            <a href="{{ heros.video_url }}" class="glightbox btn-watch-video d-flex align-items-center">
              <i class="bi bi-play-circle"></i><span>{{ heros.video_button_text|default:heros.primary_button_text }}</span>
            </a>
          {% elif heros.primary_button_link %}
            <a href="{{ heros.primary_button_link }}" class="btn-watch-video d-flex align-items-center">
              <i class="bi bi-play-circle"></i><span>{{ heros.primary_button_text }}</span>
            </a>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-5 order-1 order-lg-2">
        {% if heros.image_landing_page %}
          <img src="{{ heros.image_landing_page.url }}" class="img-fluid" alt="{{ heros.image_alt|default:heros.title }}">
        {% elif heros.image %}
          <img src="{{ heros.image.url }}" class="img-fluid" alt="{{ heros.image_alt|default:heros.title }}">
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="icon-boxes position-relative" data-aos="fade-up" data-aos-delay="200">
    <div class="container position-relative">
      <div class="row gy-4 mt-5">
        {% for boxs in hbox %}
        <div class="col-xl-3 col-md-6">
          <div class="icon-box">
            <div class="icon">
              <i class="bi bi-{{ boxs.icon|default:'question-circle' }}"></i>
            </div>
            <h4 class="title"><a href="{{ boxs.link|default:'#' }}" class="stretched-link">{{ boxs.title }}</a></h4>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
